*{
    margin: 0;
    padding: 1em;
}


body{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    background-color: #403C36;
    color: #E9F0F2;
}

/*acertando o cabeçalho*/
header{
    background-color: #363B40;
}

ul{
    display: flex;
    justify-content: space-evenly;
    word-spacing: 0.2em;
    margin-right: 0.2em;
}

li{
    list-style: none;
    margin-left: 1em;
    font-size: 1em;
}

/*acertando a logo e imagens*/

.logo{
    height: 50vh;
}

.face, .insta, .twitter, .whats{
    width: 5vw;
}

.produto1, .produto2, .produto3, .produto4, .produto5 {
    width: 18vw;
    margin: 0.5em;
    display: flex;
    border-style: dotted;
    border-color: #D0D7D9;
    border-width: 0.2em;
}

#prod3{
    display: flex;
    justify-items: center;
}

#vitri{
    display:grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr;

}


/*acertando o final da página*/

footer{
    background-color: #E9F0F2;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
}

/*estilizar o conteudo*/

h2{
    font-size: 2em;
    text-align: center;
}

section p{
    font-size: 50px;
    text-align: center;
}

p{
    display:flex;
    text-align: flex-start;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-device-width:420px){

    section{
        display: grid;
        grid-template-columns: 1fr;
    }

    ul{
        display: grid;
        width: 30vh;
    }

    .logo{
        display: grid;
        grid-template-columns: 1fr;
    }

    h2{
        display: grid;
        width: 5vh;
    }

    article section h2{
        display: grid;
        width: 10vh;
    }

    .produto1, .produto2, .produto2, .produto3, .produto4{
        display: grid;
        font-size: 2em;
    }

    #conf{
        font-size: 5em;
    }

    footer{
        display: center;
        text-align: center;
    }



    

     
}









