*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.roda{
    color: white;
    background-color: purple;
    text-align: center;
    display: block;
}

.img{
    height: 10%;
    width: 10%;
  }

.topo{
    background: purple;
    color: white;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}

.fundo2{
    background-color: purple;
}

.fundo22{
    background-color: purple;
    color: white;
    text-align: center;
    display: block;
    overflow-clip-box: inherit;
    border: none;
}

.produto {
    background-color: purple;
    color:white;
    text-align: center;
    overflow-clip-box: inherit; 

}

.foto{
    height: 10%;
    width: 10%;
    background-color: purple;
}

.funfa{
    background-color: purple;
    display: block;
    text-align: center;
    color: white;
}

.tabela{
    text-align: left;
    flex-direction: column;
    justify-content: left;
}

.foto{
    text-align: center;
}

.produtin{
    text-align: center;
    margin: 10px;
}

.estoque{
    text-decoration: none;
}